* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    position: sticky;
    top: 0;
}

nav {
    background-color: pink;
    height: 70px;
    width: 100%;
}

.container {
    background-color: green;
    width: 100%;
    padding: 25px 40px;
    box-sizing: border-box;
}

.box1 {
    display: inline-block;
    background-color: palevioletred;
    height: 544px;
    width: 44vw;
    margin: 20px;
    box-sizing: border-box;
}

.box2 {
    display: inline-block;
    background-color: blue;
    height: 544px;
    width: 44vw;
    margin: 20px;
    box-sizing: border-box;
}

.text-box {
    color: white;
    border: 2px solid white;
    width: fit-content;
    padding: 10px 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 45px;
}

.logo {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: yellow;
    bottom: 20px;
    right: 20px;
    position: fixed;
}

footer {
    width: 100%;
    height: 100px;
    background-color: white;
}