@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --back-color: rgb(232, 236, 16);
    --seback: yellow;
    --defcolor: grey;
    --defborder: rgb(209, 212, 44);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: var(--back-color);
}

.nav {
    margin: 1px;
    padding: 20px;
    width: 40px;
    height: 20px;
    display: flex;
    background-color: var(--seback);
    justify-content: center;
    border: 2px var(--defborder);
    border-radius: 2px;
}

.body {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    padding: 15px;
}

body{
        background-color: var(--defcolor);
}