/* *{
    margin: 0;
    padding: 0;
} */

img {
    width: 230px;
    float: right;
    /* padding: 5px;
    margin: 5px; */
}

.cards {
    border: 2px solid black;
    display: flow-root;
}

.card {
    border: 2px solid red;
}

.card:nth-child(3) {
    background-color: aqua;
    clear: right;
}