.container{
    height: 634px;
    width: 345px;
    border: 2px solid black;
    background-color: aliceblue;
}

.container img{
    height: 434px;
    width: 345px;
    object-fit: cover;
    object-position: right left;
}
